.candidates {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("//images01.nicepage.com/bd/ad/bdadf307ce501efc148a9101f2bbf588.jpeg") no-repeat center center fixed;
    background-size: cover;
    flex-wrap: wrap;
    min-height: calc(100vh - 5em - 5em);
}

.container-candidates {
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}
.border {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid rgb(222, 202, 151);
    padding: 1.5em;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}