.report {
    display: block;
    position: fixed;
    z-index: 1;
    width: 60%;
    height: fit-content;
    overflow: auto;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(225, 224, 225, 1));
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 25px rgba(18, 17, 17, 0.8);
    flex-wrap: wrap;
    border-radius: 0.1em;
}

.modal-box {
    background-color: rgba(0, 0, 0, 0.72);
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline {
    border-bottom: 2px solid rgb(222, 202, 151);
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 1em;
    padding: 1em;
}

.headline h2 {
    font-weight: 400;
}

.close {
    border: none;
    background-color: transparent;
}

.icon-close {
    size: '2xl';
    color: rgb(222, 202, 151, 0.9);
    border: 2px solid rgb(222, 202, 151, 0.9);
    border-radius: 50%;
    box-shadow: 2px 4px 8px rgb(51, 48, 49, 0.5);
}

.close:hover {
    background-color: transparent;
    transform: scale(1.1);
    font-size: 1em;
    line-height: 0.09em;
    cursor: pointer;
}

.details {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 95%;
}

.notes {
    width: 60%;
    padding: 0 1em;
}
.notes p{
    padding: 0 0 0.3em;
}

.first-part {
    width: 40%;
    padding: 0 1em;
}

.title {
    font-size: 1em;
    color: rgb(51, 48, 49, 0.5);
}
.dates{
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.1em 0;
}
@media (min-width: 375px) and (max-width: 767px) {
    .report{
        width: 70%;
    }

    .headline h2{
        font-size: 1.2em;
    }

    .details {
        flex-wrap: wrap;
        gap: 0;
    }

    .details p{
        font-size: 0.8em;
    }

    .details h3{
        font-size: 1em;
    }

    .first-part{
        flex-basis: 100%;
    }

    .notes{
        flex-basis: 100%;
        padding-bottom: 1em;
    }
}