.info-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.image img {
    height: 200px;
    width: 200px;
    padding: 50px 50px 50px;
    filter: drop-shadow(2px 4px 8px #494846); 
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;  
    height: auto;  
    padding: 10px;
}

.circlar-frame {
    /* border-radius: 50%; */
    border-radius: calc(infinity*1px);
    border: 8px solid rgb(222, 202, 151);
    background-color: white;
    height: 300px;
    width: 300px;
    padding: 5px;
    margin-bottom: 20px;
}

.circlar-frame img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(2px 4px 8px #deca97);
    margin-right: auto;
}

.info {
    /*flex-grow: 1;*/
    width: 31.5%;
    /* flex-basis: 45%;
    margin: 10px; */
}

h2 {
    padding-bottom: 50px;
    font-size: 28px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* overflow: hidden;
    text-overflow:ellipsis; */
} 

.title-p {
    font-size: 22px;
    color: rgb(102, 100, 100);
}

.info p{
    color: gray;
}

.gradient-border-info {
    background-image: linear-gradient(rgb(222, 202, 151), white);
    background-origin: border-box ;
    background-clip: content-box, border-box;
}

@media (max-width: 768px) {
    .info {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
     .image {
        flex-grow: 1;  
    }
    .info p{
        margin-left: 15px;
    }
    .info h2 {
        margin-left: 45px;
    }
    .circlar-frame {
        margin-top: 20px;
    }
}


@media (min-width: 769px) and (max-width: 1023px) {
    .info {
        flex-basis: 48%;
    }
    .image {
        flex-grow: 1;  
    }
}

@media (min-width: 1024px) {
    .info {
        flex-basis: 25%;
    }
}

